<div class="content">
    <div class="cards-simple-wrapper">
        <div class="row">
            <% @services.each do |service| %>
            <div class="col-sm-6 col-lg-4">
                <%= render 'services/card', service: service %>
            </div><!-- /.col-* -->
            <% end %>
        </div><!-- /.row -->
    </div><!-- /.cards-simple-wrapper -->
</div><!-- /.content -->