<p>
    <strong>Place:</strong>
    <%= @service.place_id %>
</p>
<p>
    <strong>Title:</strong>
    <%= @service.title %>
</p>
<p>
    <strong>Description:</strong>
    <%= @service.description %>
</p>
<p>
    <strong>Price:</strong>
    <%= @service.price %>
</p>