<div class="content-admin-wrapper">
    <div class="content-admin-main">
        <div class="content-admin-main-inner">
            <div class="container-fluid">
                <div class="content-admin">
                    <h1>Dashboard#show</h1>
                    <p>Find me in app/views/dashboard/show.html.erb</p>
                </div>
            </div>
        </div>
    </div>
</div>