<div class="content-admin-wrapper">
        <div class="content-admin-main">
            <div class="content-admin-main-inner">
                <div class="container-fluid">
<div class="content-admin">
    <h1>Dashboard#reports</h1>
    <p>Find me in app/views/dashboard/reports.html.erb</p>
</div>
</div>
</div>
</div>