<div class="form-group">
    <a href="javascript:;" class="form-control bg-info text-white">
        <div class="row">
            <div class="col-1">
                <i class="fa fa-facebook fa-2x"></i>
            </div>
            <div class="col-10 text-center">
                <strong class="va-m">Sign in by facebook</strong>
            </div>
            <div class="col-1"></div>
        </div>
    </a>
</div>
<div class="form-group">
    <a href="javascript:;" class="form-control bg-white text-dark">
        <div class="row">
            <div class="col-1">
                <i class="fa fa-google fa-2x text-danger" style="position: relative; top: -2px;"></i>
            </div>
            <div class="col-10 text-center">
                <strong class="va-m">Sign in by google</strong>
            </div>
            <div class="col-1"></div>
        </div>
    </a>
</div>
<div class="form-group">
    <a href="javascript:;" class="form-control bg-info text-white">
        <div class="row">
            <div class="col-1">
                <i class="fa fa-twitter fa-2x"></i>
            </div>
            <div class="col-10 text-center">
                <strong class="va-m">Sign in by twitter</strong>
            </div>
            <div class="col-1"></div>
        </div>
    </a>
</div>