<div class="form-group">
    <a href="javascript:;" class="form-control btn-facebook">
        <div class="row">
            <div class="col-1">
                <i class="fa fa-facebook fa-2x"></i>
            </div>
            <div class="col-10 text-center">
                <strong class="va-m">Sign in with facebook</strong>
            </div>
            <div class="col-1"></div>
        </div>
    </a>
</div>
<div class="form-group">
    <a href="javascript:;" class="form-control btn-google">
        <div class="row">
            <div class="col-1">
                <i class="fa fa-google fa-2x" style="position: relative; top: -2px;"></i>
            </div>
            <div class="col-10 text-center">
                <strong class="va-m">Sign in with google</strong>
            </div>
            <div class="col-1"></div>
        </div>
    </a>
</div>
<div class="form-group">
    <a href="javascript:;" class="form-control btn-twitter">
        <div class="row">
            <div class="col-1">
                <i class="fa fa-twitter fa-2x"></i>
            </div>
            <div class="col-10 text-center">
                <strong class="va-m">Sign in with twitter</strong>
            </div>
            <div class="col-1"></div>
        </div>
    </a>
</div>