<div class="container">
    <div class="page-header">
        <h1>Fair Pricing</h1>
        <p>Our company offers best pricing options for field agents and companies. If you are interested <br>in special plan don't hesitate and contact our <a href="javascript:;">sales support</a>.</p>
    </div><!-- /.page-header -->
    <div class="pricings">
        <div class="row">
            <div class="col-sm-4">
                <div class="pricing">
                    <div class="pricing-title">Personal</div><!-- /.pricing-title -->
                    <div class="pricing-subtitle">For Personal Use</div><!-- /.pricing-subtitle -->
                    <div class="pricing-price"><span class="pricing-currency">$</span>10.59 <span class="pricing-period">/ month</span></div><!-- /.pricing-price -->
                    <a href="javascript:;" class="btn-primary">Get Started</a>
                    <hr>
                    <ul class="pricing-list">
                        <li><span>Max. Submissions</span><strong>Limited number</strong></li>
                        <li><span>Custom Agents</span><strong>One agent for all</strong></li>
                        <li><span>Support</span><strong>Mail communication</strong></li>
                    </ul><!-- /.pricing-list -->
                    <hr>
                    <a href="javascript:;" class="pricing-action">Full List of Features</a>
                </div><!-- /.pricing -->
            </div><!-- /.col-* -->
            <div class="col-sm-4">
                <div class="pricing">
                    <div class="pricing-title">Business</div><!-- /.pricing-title -->
                    <div class="pricing-subtitle">Best for Companies</div><!-- /.pricing-subtitle -->
                    <div class="pricing-price"><span class="pricing-currency">$</span>19.59 <span class="pricing-period">/ month</span></div><!-- /.pricing-price -->
                    <a href="javascript:;" class="btn-primary">Get Started</a>
                    <hr>
                    <ul class="pricing-list">
                        <li><span>Max. Submissions</span><strong>Unlimited number</strong></li>
                        <li><span>Custom Agents</span><strong>One agent for all</strong></li>
                        <li><span>Support</span><strong>Mail communication</strong></li>
                    </ul><!-- /.pricing-list -->
                    <hr>
                    <a href="javascript:;" class="pricing-action">Full List of Features</a>
                </div><!-- /.pricing -->
            </div><!-- /.col-* -->
            <div class="col-sm-4">
                <div class="pricing">
                    <div class="pricing-title">Unlimited</div><!-- /.pricing-title -->
                    <div class="pricing-subtitle">Entrepreneurs</div><!-- /.pricing-subtitle -->
                    <div class="pricing-price"><span class="pricing-currency">$</span>49.59 <span class="pricing-period">/ month</span></div><!-- /.pricing-price -->
                    <a href="javascript:;" class="btn-primary">Get Started</a>
                    <hr>
                    <ul class="pricing-list">
                        <li><span>Max. Submissions</span><strong>Unlimited number</strong></li>
                        <li><span>Custom Agents</span><strong>Unlimited number</strong></li>
                        <li><span>Support</span><strong>Personal training</strong></li>
                    </ul><!-- /.pricing-list -->
                    <hr>
                    <a href="javascript:;" class="pricing-action">Full List of Features</a>
                </div><!-- /.pricing -->
            </div><!-- /.col-* -->
        </div><!-- /.row -->
    </div><!-- /.pricings -->
</div>