<div class="main">
    <div class="main-inner">
        <div class="container">
            <div class="content">
                <%= render 'searches/form', items: @search %>
                <div class="cards-simple-wrapper" id="result">
                    <%= render 'searches/result', items: @search %>
                </div><!-- /.cards-simple-wrapper -->
            </div><!-- /.content -->
        </div><!-- /.container -->
    </div><!-- /.main-inner -->
</div><!-- /.main -->