.disabled.fa {
	background-color: transparent !important;
}

.post-detail .post-meta-tags .tag {
	margin-top: 2.5px;
	margin-bottom: 2.5px;
}

.va-super {
	vertical-align: super;
}

.va-m {
	vertical-align: middle;
}

a, .btn-link {
	cursor: pointer;
}

/* Social Share Button */
$sbtn-size: 24px;

.social-share-button {
  .ssb-icon {
    background-size: $sbtn-size $sbtn-size !important;
    height: $sbtn-size !important;
    width: $sbtn-size !important;
    border-radius: 50%;
  }
}