<% if current_user.voted_as_when_voted_for item %>
	<%= form_with(url: vote_path(item_id: item.id, item_type: item_type), method: :delete) do |f| %>
		<button type="submit" class="btn-light bg-transparent fa fa-heart text-danger" style="padding: 9px 15px; border-color: transparent;">
			<span data-toggle="Give Heart">I Love It</span>
		</button>
	<% end %>
<% else %>
	<%= form_with(url: votes_path(item_id: item.id, item_type: item_type)) do |f| %>
		<button type="submit" class="btn-dark bg-transparent fa fa-heart-o" style="padding: 9px 15px; border-color: transparent;">
			<span data-toggle="I Love It">Give Heart</span>
		</button>
	<% end %>
<% end %>