<div class="content">
    <div class="page-title">
        <h1>Standard Blog Right Sidebar</h1>
    </div><!-- /.page-title -->
    <div class="posts">
        <div class="post">
            <div class="post-image">
                <img src="/assets/img/tmp/product-11.jpg" alt="A Clockwork Origin">
                <a class="read-more" href="blog-detail-right-sidebar.html">View</a>
            </div><!-- /.post-image -->
            <div class="post-content">
                <h2><a href="blog-detail.html">A Clockwork Origin<a></h2>
                <p>And from now on you're all named Bender Jr. The alien mothership is in orbit here. If we can hit that bullseye, the rest of the dominoes will fall like a house of cards. Checkmate. Now that the, uh, garbage ball is in space, Doctor, perh...</p>
            </div><!-- /.post-content -->
            <div class="post-meta clearfix">
                <div class="post-meta-author">By <a href="blog-detail.html">Eric Yorick</a></div><!-- /.post-meta-author -->
                <div class="post-meta-date">08/24/2015</div><!-- /.post-meta-date -->
                <div class="post-meta-categories"><i class="fa fa-tags"></i> <a href="blog-detail.html">Restaurant</a></div><!-- /.post-meta-categories -->
                <div class="post-meta-comments"><i class="fa fa-comments"></i> <a href="blog-detail.html">3 comments</a></div><!-- /.post-meta-comments -->
                <div class="post-meta-more"><a href="blog-detail.html">Read More <i class="fa fa-chevron-right"></i></a></div><!-- /.post-meta-more -->
            </div><!-- /.post-meta -->
        </div><!-- /.post -->
        <div class="post">
            <div class="post-image">
                <img src="/assets/img/tmp/product-2.jpg" alt="Where No Fan Has Gone Before">
                <a class="read-more" href="blog-detail-right-sidebar.html">View</a>
            </div><!-- /.post-image -->
            <div class="post-content">
                <h2><a href="blog-detail.html">Where No Fan Has Gone Before<a></h2>
                <p>
                    <p class='drop-cap'>Just once I'd like to eat dinner with a celebrity who isn't bound and gagged. The alien mothership is in orbit here. If we can hit that bullseye, the rest of the dominoes will fall like a house of cards. Checkmate. Ho...</p>
            </div><!-- /.post-content -->
            <div class="post-meta clearfix">
                <div class="post-meta-author">By <a href="blog-detail.html">Fiona Wilson</a></div><!-- /.post-meta-author -->
                <div class="post-meta-date">08/18/2015</div><!-- /.post-meta-date -->
                <div class="post-meta-categories"><i class="fa fa-tags"></i> <a href="blog-detail.html">Food</a></div><!-- /.post-meta-categories -->
                <div class="post-meta-comments"><i class="fa fa-comments"></i> <a href="blog-detail.html">3 comments</a></div><!-- /.post-meta-comments -->
                <div class="post-meta-more"><a href="blog-detail.html">Read More <i class="fa fa-chevron-right"></i></a></div><!-- /.post-meta-more -->
            </div><!-- /.post-meta -->
        </div><!-- /.post -->
        <div class="post">
            <div class="post-image">
                <img src="/assets/img/tmp/product-3.jpg" alt="Love and Rocket">
                <a class="read-more" href="blog-detail-right-sidebar.html">View</a>
            </div><!-- /.post-image -->
            <div class="post-content">
                <h2><a href="blog-detail.html">Love and Rocket<a></h2>
                <p>And when we woke up, we had these bodies. Why not indeed! This is the worst kind of discrimination: the kind against me! I didn't ask for a completely reasonable excuse! I asked you to get busy! Morbo can't understand his teleprompter be...</p>
            </div><!-- /.post-content -->
            <div class="post-meta clearfix">
                <div class="post-meta-author">By <a href="blog-detail.html">Sam Edgar</a></div><!-- /.post-meta-author -->
                <div class="post-meta-date">08/12/2015</div><!-- /.post-meta-date -->
                <div class="post-meta-categories"><i class="fa fa-tags"></i> <a href="blog-detail.html">Nightlife</a></div><!-- /.post-meta-categories -->
                <div class="post-meta-comments"><i class="fa fa-comments"></i> <a href="blog-detail.html">3 comments</a></div><!-- /.post-meta-comments -->
                <div class="post-meta-more"><a href="blog-detail.html">Read More <i class="fa fa-chevron-right"></i></a></div><!-- /.post-meta-more -->
            </div><!-- /.post-meta -->
        </div><!-- /.post -->
        <div class="post">
            <div class="post-image">
                <img src="/assets/img/tmp/product-4.jpg" alt="Less Than Hero">
                <a class="read-more" href="blog-detail-right-sidebar.html">View</a>
            </div><!-- /.post-image -->
            <div class="post-content">
                <h2><a href="blog-detail.html">Less Than Hero<a></h2>
                <p>And then the battle's not so bad? Daylight and everything. Check it out, y'all. Everyone who was invited is here. Incidentally, you have a dime up your nose. I've been there. My folks were always on me to groom myself and wear underpants...</p>
            </div><!-- /.post-content -->
            <div class="post-meta clearfix">
                <div class="post-meta-author">By <a href="blog-detail.html">Candis Ivy</a></div><!-- /.post-meta-author -->
                <div class="post-meta-date">08/10/2015</div><!-- /.post-meta-date -->
                <div class="post-meta-categories"><i class="fa fa-tags"></i> <a href="blog-detail.html">Job Offer</a></div><!-- /.post-meta-categories -->
                <div class="post-meta-comments"><i class="fa fa-comments"></i> <a href="blog-detail.html">3 comments</a></div><!-- /.post-meta-comments -->
                <div class="post-meta-more"><a href="blog-detail.html">Read More <i class="fa fa-chevron-right"></i></a></div><!-- /.post-meta-more -->
            </div><!-- /.post-meta -->
        </div><!-- /.post -->
        <div class="post">
            <div class="post-image">
                <img src="/assets/img/tmp/product-5.jpg" alt="Love's Labors Lost in Space">
                <a class="read-more" href="blog-detail-right-sidebar.html">View</a>
            </div><!-- /.post-image -->
            <div class="post-content">
                <h2><a href="blog-detail.html">Love's Labors Lost in Space<a></h2>
                <p>Bender, quit destroying the universe! We're rescuing ya. Shut up and get to the point! I decline the title of Iron Cook and accept the lesser title of Zinc Saucier, which I just made up. Uhh… also, comes with double prize money. Daylight...</p>
            </div><!-- /.post-content -->
            <div class="post-meta clearfix">
                <div class="post-meta-author">By <a href="blog-detail.html">Earl Dennis</a></div><!-- /.post-meta-author -->
                <div class="post-meta-date">07/20/2015</div><!-- /.post-meta-date -->
                <div class="post-meta-categories"><i class="fa fa-tags"></i> <a href="blog-detail.html">Pub</a></div><!-- /.post-meta-categories -->
                <div class="post-meta-comments"><i class="fa fa-comments"></i> <a href="blog-detail.html">3 comments</a></div><!-- /.post-meta-comments -->
                <div class="post-meta-more"><a href="blog-detail.html">Read More <i class="fa fa-chevron-right"></i></a></div><!-- /.post-meta-more -->
            </div><!-- /.post-meta -->
        </div><!-- /.post -->
        <div class="post">
            <div class="post-image">
                <img src="/assets/img/tmp/product-6.jpg" alt="The Deep South">
                <a class="read-more" href="blog-detail-right-sidebar.html">View</a>
            </div><!-- /.post-image -->
            <div class="post-content">
                <h2><a href="blog-detail.html">The Deep South<a></h2>
                <p>Oh, all right, I am. But if anything happens to me, tell them I died robbing some old man. Calculon is gonna kill us and it's all everybody else's fault! Who said that? SURE you can die! You want to die?! And until then, I can never die?...</p>
            </div><!-- /.post-content -->
            <div class="post-meta clearfix">
                <div class="post-meta-author">By <a href="blog-detail.html">Kortney Allie</a></div><!-- /.post-meta-author -->
                <div class="post-meta-date">07/12/2015</div><!-- /.post-meta-date -->
                <div class="post-meta-categories"><i class="fa fa-tags"></i> <a href="blog-detail.html">Automotive</a></div><!-- /.post-meta-categories -->
                <div class="post-meta-comments"><i class="fa fa-comments"></i> <a href="blog-detail.html">3 comments</a></div><!-- /.post-meta-comments -->
                <div class="post-meta-more"><a href="blog-detail.html">Read More <i class="fa fa-chevron-right"></i></a></div><!-- /.post-meta-more -->
            </div><!-- /.post-meta -->
        </div><!-- /.post -->
        <div class="post">
            <div class="post-image">
                <img src="/assets/img/tmp/product-7.jpg" alt="A Big Piece of Garbage">
                <a class="read-more" href="blog-detail-right-sidebar.html">View</a>
            </div><!-- /.post-image -->
            <div class="post-content">
                <h2><a href="blog-detail.html">A Big Piece of Garbage<a></h2>
                <p>Large bet on myself in round one. It's okay, Bender. I like cooking too. Oh, all right, I am. But if anything happens to me, tell them I died robbing some old man. Well, thanks to the Internet, I'm now bored with. Is there a place on the...</p>
            </div><!-- /.post-content -->
            <div class="post-meta clearfix">
                <div class="post-meta-author">By <a href="blog-detail.html">August Eveleen</a></div><!-- /.post-meta-author -->
                <div class="post-meta-date">07/01/2015</div><!-- /.post-meta-date -->
                <div class="post-meta-categories"><i class="fa fa-tags"></i> <a href="blog-detail.html">Real Estate</a></div><!-- /.post-meta-categories -->
                <div class="post-meta-comments"><i class="fa fa-comments"></i> <a href="blog-detail.html">3 comments</a></div><!-- /.post-meta-comments -->
                <div class="post-meta-more"><a href="blog-detail.html">Read More <i class="fa fa-chevron-right"></i></a></div><!-- /.post-meta-more -->
            </div><!-- /.post-meta -->
        </div><!-- /.post -->
        <div class="post">
            <div class="post-image">
                <img src="/assets/img/tmp/product-8.jpg" alt="Raging Bender">
                <a class="read-more" href="blog-detail-right-sidebar.html">View</a>
            </div><!-- /.post-image -->
            <div class="post-content">
                <h2><a href="blog-detail.html">Raging Bender<a></h2>
                <p>For one beautiful night I knew what it was like to be a grandmother. Subjugated, yet honored. Then throw her in the laundry room, which will hereafter be referred to as 'the brig'. Who said that? SURE you can die! You want to die?! I sup...</p>
            </div><!-- /.post-content -->
            <div class="post-meta clearfix">
                <div class="post-meta-author">By <a href="blog-detail.html">Parnel Herbie</a></div><!-- /.post-meta-author -->
                <div class="post-meta-date">06/18/2015</div><!-- /.post-meta-date -->
                <div class="post-meta-categories"><i class="fa fa-tags"></i> <a href="blog-detail.html">Transport</a></div><!-- /.post-meta-categories -->
                <div class="post-meta-comments"><i class="fa fa-comments"></i> <a href="blog-detail.html">3 comments</a></div><!-- /.post-meta-comments -->
                <div class="post-meta-more"><a href="blog-detail.html">Read More <i class="fa fa-chevron-right"></i></a></div><!-- /.post-meta-more -->
            </div><!-- /.post-meta -->
        </div><!-- /.post -->
        <div class="post">
            <div class="post-image">
                <img src="/assets/img/tmp/product-9.jpg" alt="Raging Bender">
                <a class="read-more" href="blog-detail-right-sidebar.html">View</a>
            </div><!-- /.post-image -->
            <div class="post-content">
                <h2><a href="blog-detail.html">Raging Bender<a></h2>
                <p>For one beautiful night I knew what it was like to be a grandmother. Subjugated, yet honored. Then throw her in the laundry room, which will hereafter be referred to as 'the brig'. Who said that? SURE you can die! You want to die?! I sup...</p>
            </div><!-- /.post-content -->
            <div class="post-meta clearfix">
                <div class="post-meta-author">By <a href="blog-detail.html">Rickey Donny</a></div><!-- /.post-meta-author -->
                <div class="post-meta-date">06/10/2015</div><!-- /.post-meta-date -->
                <div class="post-meta-categories"><i class="fa fa-tags"></i> <a href="blog-detail.html">Nightlife</a></div><!-- /.post-meta-categories -->
                <div class="post-meta-comments"><i class="fa fa-comments"></i> <a href="blog-detail.html">3 comments</a></div><!-- /.post-meta-comments -->
                <div class="post-meta-more"><a href="blog-detail.html">Read More <i class="fa fa-chevron-right"></i></a></div><!-- /.post-meta-more -->
            </div><!-- /.post-meta -->
        </div><!-- /.post -->
        <div class="post">
            <div class="post-image">
                <img src="/assets/img/tmp/product-10.jpg" alt="The Prisoner of Benda">
                <a class="read-more" href="blog-detail-right-sidebar.html">View</a>
            </div><!-- /.post-image -->
            <div class="post-content">
                <h2><a href="blog-detail.html">The Prisoner of Benda<a></h2>
                <p>Check it out, y'all. Everyone who was invited is here. Well, thanks to the Internet, I'm now bored with. Is there a place on the web that panders to my lust for violence? Robot 1-X, save my friends! And Zoidberg! Please, Don-Bot… look in...</p>
            </div><!-- /.post-content -->
            <div class="post-meta clearfix">
                <div class="post-meta-author">By <a href="blog-detail.html">Janice Kevin</a></div><!-- /.post-meta-author -->
                <div class="post-meta-date">05/26/2015</div><!-- /.post-meta-date -->
                <div class="post-meta-categories"><i class="fa fa-tags"></i> <a href="blog-detail.html">Vacation</a></div><!-- /.post-meta-categories -->
                <div class="post-meta-comments"><i class="fa fa-comments"></i> <a href="blog-detail.html">3 comments</a></div><!-- /.post-meta-comments -->
                <div class="post-meta-more"><a href="blog-detail.html">Read More <i class="fa fa-chevron-right"></i></a></div><!-- /.post-meta-more -->
            </div><!-- /.post-meta -->
        </div><!-- /.post -->
    </div><!-- /.posts -->
    <div class="pager">
        <ul>
            <li><a href="#">Prev</a></li>
            <li><a href="#">5</a></li>
            <li class="active"><a>6</a></li>
            <li><a href="#">7</a></li>
            <li><a href="#">Next</a></li>
        </ul>
    </div><!-- /.pagination -->
</div><!-- /.content -->