<% if action_name=="show" %>
<a href="<%= edit_place_path(@place) %>" class="header-action-inner" title="Edit my location" data-toggle="tooltip" data-placement="auto" style="position: fixed; bottom: 3%; right: 3%; border-radius: 50%; overflow: hidden; width: 50px; height: 50px;">
    <i class="fa fa-pencil" style="vertical-align: bottom;"></i>
</a><!-- /.header-action-inner -->
<% else %>
<a href="<%= new_place_path %>" class="header-action-inner" title="Share my location" data-toggle="tooltip" data-placement="auto" style="position: fixed; bottom: 3%; right: 3%; border-radius: 50%; overflow: hidden; width: 50px; height: 50px;">
    <i class="fa fa-plus" style="vertical-align: bottom;"></i>
</a><!-- /.header-action-inner -->
<% end %>