<!DOCTYPE html>
<html>

<head>
    <%= render 'layouts/head' %>
</head>

<body>
    <div class="page-wrapper">
        <%= render 'layouts/navbar' %>
        <%= yield %>
        <%= render 'layouts/footer' %>
    </div>
</body>

</html>