<div class="pricing">
    <div class="pricing-title">Business</div><!-- /.pricing-title -->
    <div class="pricing-subtitle">Best for Companies</div><!-- /.pricing-subtitle -->
    <div class="pricing-price"><span class="pricing-currency">$</span>19.59 <span class="pricing-period">/ month</span></div><!-- /.pricing-price -->
    <a href="#" class="btn-primary">Get Started</a>
    <hr>
    <ul class="pricing-list">
        <li><span>Max. Submissions</span><strong>Unlimited number</strong></li>
        <li><span>Custom Agents</span><strong>One agent for all</strong></li>
        <li><span>Support</span><strong>Mail communication</strong></li>
    </ul><!-- /.pricing-list -->
    <hr>
    <a href="#" class="pricing-action">Full List of Features</a>
</div><!-- /.pricing -->