<div class="pricing w-100 text-left">
    <div class="row">
        <div class="col-4">
            <div class="pricing-title">
                <span>Personal</span>
            </div>
            <figcaption>For Personal Use</figcaption>
        </div>
        <div class="col-4">
            <div class="pricing-price m0"><span class="pricing-currency">$</span>10.59 <span class="pricing-period">/ month</span></div>
        </div>
        <div class="col-4 text-right">
            <a href="<%= dashboard_pricing_path %>" class="btn-primary">Upgrade</a>
        </div>
    </div>
    <hr class="my-4">
    <ul class="pricing-list">
        <li><span>Max. Submissions</span><strong>Limited number</strong></li>
        <li><span>Custom Agents</span><strong>One agent for all</strong></li>
        <li><span>Support</span><strong>Mail communication</strong></li>
    </ul><!-- /.pricing-list -->
    <hr>
    <a href="<%= pricing_path %>" class="pricing-action">Full List of Features</a>
</div><!-- /.pricing -->